div.backdrop {
    width: 100%;
	background: url(../backdrop.png) center no-repeat;
    color: rgb(240,240,240);
}
div.jumbotron {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
}
.jumbotron h1 { padding-left: 20%; }
.jumbotron p { padding-left: 20%; }

.loginStatus {
    float: right;
    padding-right: 5%;
    font-size: 1em;
}
.loginStatus a {
    color: rgb(240,240,240);
    font-weight: 600;
}

ol.breadcrumb {
    width: 100%;
}

@media (max-width: 650px) {
    .content-to-hide {
        display: none;
    }
    .loginStatus {
        display: none;
    }
    .jumbotron h1, .jumbotron p {
        padding-left: 5%;
    }
    ol.breadcrumb {
        margin: 0;
    }
}
