.controlBar {
   position: relative;
}
div.trainingSelect {
	position: absolute;
    bottom: 0;
    right: 0;
}
.panel-group {
    margin-bottom: 10px;
}
.panel-body {
    padding: 0;
}
.list-group {
	margin: 0;
}
