div.backdrop {
    width: 100%;
	background: url(../backdrop.png) center no-repeat;
    color: rgb(240,240,240);
}
div.jumbotron {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
}
.jumbotron h1, h2 { padding-left: 10%; }
.jumbotron p { padding-left: 10%; }

.loginStatus {
    float: right;
    padding-right: 5%;
    font-size: 1em;
}
.loginStatus a {
    color: rgb(240,240,240);
    font-weight: 600;
}

.breadcrumbs {
    width: 100%;
    background-color: #f5f5f5;
    border-radius: 4px;
    list-style: outside none none;
    margin-bottom: 20px;
    padding: 8px 15px;
    color: #777;
}

@media (max-width: 650px) {
    .content-to-hide {
        display: none;
    }
    .jumbotron h1, .jumbotron p {
        padding-left: 5%;
    }
    .breadcrumbs {
        margin: 0;
    }
}
