body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: rgb(240,240,240);
}
div.backdrop {
    background: url(backdrop.png) center no-repeat;
    color: rgb(240,240,240);
}
div.jumbotron {
    padding-top: 20px;
    padding-bottom: 20px;
}
.jumbotron h1,p {
    width: 80%;
}
.jumbotron h1 { padding-left: 3em; }
.jumbotron p { padding-left: 9em; }

.middle {
    width: 55%;
    margin-left: 20em;
}
.loginStatus {
    float: right;
    padding-right: 3em;
}
.loginStatus a {
    color: rgb(240,240,240);
    font-weight: 600;
}